<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (locals.messages && messages.length > 0) { %>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <span>User: <%= messages[i].user_name %></span>
        <span>Message: <%= messages[i].text %></span>
        <span>Date: <%= messages[i].added %></span>
        <a href="/message/<%=messages[i].id%>">Open Details</a>
      </li>

      <% } %>
    </ul>
    <% } else { %>
    <p>No messages available at the moment</p>
    <% } %>
    <a href="/new">Create New Message Entry</a>
  </body>
</html>
