<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <span>User: <%= messages[i].user%></span>
        <span>Message: <%= messages[i].text%></span>
        <span>Date: <%= messages[i].added%></span>
        <a href="/message/<%=messages[i].id%>">Open Details</a>
      </li>

      <% } %>
    </ul>
    <a href="/new">Create New Message Entry</a>
  </body>
</html>
